
.navbar_dropdown__box {
  border: 2px solid #fff;
}

.ant-btn-primary {
  background: #165DFF !important;
  border-color: #165DFF !important;
  border-radius: 4px !important;
}

.ant-btn-default {
  border-radius: 4px !important;
}

.ant-btn-round  {
  border-radius: 20px !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: rgba(0,0,0,0.6) !important;
}

.ant-tabs-tab:hover {
  color: rgba(0,0,0,0.8) !important;
}

.tide-collapse-custom-panel {
  border: 1px solid #E5E6EB !important;
  border-radius: 8px !important;
  margin-bottom: 18px !important;
  padding: 16px !important;
}
.tide-collapse-custom-panel .ant-collapse-header {
  /* color: #165DFF !important; */
  font-size: 18px;
}
.tide-collapse-custom-panel .ant-collapse-header:hover {
  color: #165DFF !important;
}